{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-md-10">
          <h2 class="card-title">Booking's List</h2>
        </div>
        <div class="col-md-2">
          <a href="{% url 'bookings:booking_create' %}" class="btn btn-primary">Create Booking</a>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr>
            <th> # </th>
            <th> Booking Id </th>
            <th> Start Date </th>
            <th> End Date </th>
            <th> Customer Name </th>
            <th> Contact Number </th>
            <th> Persons </th>
            <th> Hotel Name </th>
            <th> Booking Date </th>
            <th> Action </th>
          </tr>
          </thead>
          <tbody>
          {% for booking in bookings %}
          <tr>
            <td> {{ forloop.counter }} </td>
            <td> {{ booking.booking_id }} </td>
            <td> {{ booking.start_date }} </td>
            <td> {{ booking.end_date }} </td>
            <td> {{ booking.customer.first_name }} {{ booking.customer.last_name }} </td>
            <td> {{ booking.customer.mobile_number }} </td>
            <td> {{ booking.number_of_person }} </td>
            <td> {{ booking.hotel.name }} </td>
            <td> {{ booking.booking_date }} </td>
            <td>
              <a href="{% url 'bookings:booking_update' booking.pk %}" class="btn mx-1 btn-primary btn-sm">
                <i class="fa fa-pencil"></i><span>Edit</span>
              </a>
              <a href="{% url 'bookings:booking_delete' booking.pk %}" class="btn mx-1 btn-danger btn-sm">
                <i class="fa fa-trash"></i><span>Delete</span>
              </a>
            </td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
